version: "3.9"

services:
  app:
    build: .
    container_name: platform-project-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    command: ["npm", "run", "dev"]
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  db:
    image: postgres:15
    container_name: platform-project-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasksdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: "0.3"
          memory: 256M

volumes:
  db_data:

